<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Cat service">
<meta name="author" content="Mikael">

<title>just a place for cats </title>
<!--
<link rel="stylesheet" href="libraries/uikit/css/uikit.min.css" />

<link rel="stylesheet" href="css/layout.css"/>
<link rel="stylesheet" href="css/index.css"/>

<script src="libraries/uikit/js/uikit.min.js"></script>
<script src="libraries/uikit/js/uikit-icons.min.js"></script>
<script src="libraries/jquery.min.js"></script>

<script type="text/javascript" src="script/load_time.js"></script>
-->