<!DOCTYPE html>
<html lang="ru">
<body>
  <header class="menu">
    {{> menu}}
  </header>
  <main class="main">
    {{{body}}}
  </main>
  <footer class="footer">
    {{> footer}}
  </footer>
</body>
</html>